
body {
    background-color: #282828;
    size: full;
    overflow: hidden;
    margin: 0;

}

a {
    text-decoration: none;

    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition:.25s;

    user-select: none;
}

a:link {
    color: #fbf1c7;
}

a:visited {
    color: #fbf1c7;
}

a:hover {
    color: #665c54;
}

#screen {
    display: flex;
    margin: 0;
    flex-direction: column;
}

.taskbar {
    border-top: #fbf1c7 2px solid;
    border-bottom: #fbf1c7 2px solid;
    position: fixed;
    width: 100%;
    height: 48px;
    left: 0;
    bottom: 0;
    display: flex;
}

.startmenu {
    width: 48px;
    border-right: #fbf1c7 solid 2px;
    border-left: #fbf1c7 solid 2px;
}

.iconbar {
    flex: 2;
    border-right: #fbf1c7 solid 2px;
}

.clock {
    flex: 0.1;
    border-right: #fbf1c7 solid 2px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    color: #fbf1c7;
}

.clock p {
    margin: auto;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #3c3836;
    border: #fbf1c7 solid 2px;
    border-radius: 10px;
}

.aboutme {
    min-width: 550px;
    min-height: 700px;
    width: 550px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.titlebar {
    border-bottom: #fbf1c7 2px solid;
    height: 5%;
    display: flex;
    flex-direction: row;
    cursor: move;
}

.windowbody {
    flex: 2;
    font-family: Space Mono;
    color: #fbf1c7;
    margin: 0;
}

.texto {
    padding: 0 30px 0 30px;
    margin: 0;
    display: block;
}

.texto h1 {
    margin: 0;
}
.texto p {
    margin: auto;
    margin-bottom: 2px;
}

.pfp {
    padding: 30px;
    padding-bottom: 10px;
}

.pfpimg {
    width: 200px;
    border: #fbf1c7 solid 5px;
    border-radius: 10px;
}

.social {
    flex: 0.3;
    border-top: #fbf1c7 2px solid;
    font-size: 56px;
    text-align: center;
    display: flex;
}

.socialIcon {
    margin: auto;
}

.title {
    flex: 1.5;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    display: flex;
    font-family: Space Mono;
}
.title p {
    margin: auto;
    align-self: center;
    color: #fbf1c7;
}

.buttons {
    flex: 0.2;
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.buttons p {
    margin: auto;
    border: #fbf1c7 solid 2px;
    border-radius: 7px;
    width: 20px;
    height: 20px;
    font-size: 2em;
    color: #fbf1c7;
    vertical-align: middle;
    text-align: center;
}

.titleicon {
    font-size: 0.5em;
    text-align: center;
    margin: auto 10px auto 10px;
    cursor: pointer;
}

.close p {
    background-color: #cc241b;
}
.close p:hover {
    background-color: #fb4934;
}
.close p:active {
    background-color: #928374;
}

.langtoggle {
    background-color: #fbf1c7;
    border: #fbf1c7 2px solid;
    border-radius: 5px;
    font-family: Space Mono;
    font-size: 12pt;
    margin: auto;
    margin-top: 15px;
    width: auto;

    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition:.25s;
}

.langtoggle:hover {
    background-color: #665c54;
    border-color: #665c54;
    color: #fbf1c7;
}
.langtoggle:active {
    background-color: #504945;
    border-color: #504945;
    color: #fbf1c7;
}