
body {
    background-color: #282828;
    size: full;
    overflow: hidden;
    margin: 0;

}

button {
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition:.25s;
}

a {
    text-decoration: none;

    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition:.25s;

    user-select: none;
}


a:link {
    color: #fbf1c7;
}

a:visited {
    color: #fbf1c7;
}

a:hover {
    color: #665c54;
}

#screen {
    display: flex;
    margin: 0;
    flex-direction: column;
}

#desktop {
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    font-family: Space Mono;
    color: #fbf1c7;
    background-image: url(../media/pattern.png);
    background-color: rgb(40, 40, 40);
    background-blend-mode: overlay;
    z-index: -1;
}

#deskicon {
    border: transparent 2px dotted;
    width: 100px;
    height: 100px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}

#deskicon:hover {
    border: #fbf1c7 2px dotted;
}

#deskicon:active {
    border: #fbf1c7 2px solid;
}

#deskicone {
    align-self: center;
}

#label {
    margin: 0;
    height: 20px;
    text-align: center;
    overflow-wrap: normal;
}

.separator {
    background-color: #fbf1c7;
    height: 10px;
    padding: 2px;
    margin: 20px;
}

.sellspace {
    display: flex;
    flex-direction: row;
}

.imgprev {
    flex: 1;
}
.oferta {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.previewimg {
    border-radius: 10px;
    border: solid #fbf1c7 3px;
}

.oferta h1 {
    font-size: 40px;
    margin: 0;
}

.desc {
    font-size: 20px;
    margin: 0;
}
.selldesc {
    flex: 1;
    font-size: 24px;
    margin: auto 20px auto 20px;
    text-align: left;
    color: #fbf1c7;
}

.commmenu {
    display: flex;
    align-content: center;
    justify-content: end;
    font-family: Space Mono;
}

.linkbtn {
    font-size: 24px;
    background-color: #282828;
    border: #fbf1c7 solid 2px;
    color: #3c3836;
    font-weight: bold;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    border-radius: 10px;
}
.tosbtn {
    font-size: 24px;
    background-color: #282828;
    border: #fbf1c7 solid 2px;
    color: #fbf1c7;
    font-weight: bold;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    font-family: Space Mono;
}

.tosbtn:hover {
    color: #665c54;
}

.tosbtn:active {
    background-color: #282828;
    color: #fbf1c7;
}

.showcase {
    display: flex;
    align-content: center;
    justify-content: center;
}

.showcase img {
    width: 50px;
    margin: 20px 10px 10px 10px;
}

.taskbar {
    border-top: #fbf1c7 2px solid;
    border-bottom: #fbf1c7 2px solid;
    background-color: #3c3836;
    position: fixed;
    width: 100%;
    height: 48px;
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 0;
}

.imagemicone {
    width: 72px;
    margin: 0;
}

.deskicone {
    margin: 0;
}

.aboutme {
    min-width: 550px;
    min-height: 700px;
    width: 550px;
    height: 700px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.comms {
    display: none;
    flex-direction: column;
    width: 1200px;
    height: 800px;
    z-index: 3;
}

.portfolio {
    display: none;
    flex-direction: column;
    width: 1200px;
    height: 800px;
    z-index: 2;
}

.extras {
    z-index: 4;
    width: 550px;
    height: 600px;
    display: none;
    flex-direction: column;
}

.bottomtos {
    flex: 0.3;
    border-top: #fbf1c7 2px solid;
    font-size: 56px;
    display: flex;
    flex-direction: row;
    
}

.closetoggle {
    width: 48px;
    height: 48px;
    font-size: 20pt;
    color: #fbf1c7;
    border-radius: 10px;
    background-color: #3c3836;
    border: #fbf1c7 2px solid;
    margin: auto;
    justify-self: flex-end;
}

.closetoggle:hover {
    background-color: #fbf1c7;
    color: #3c3836;
}

.closetoggle:active {
    background-color: #282828;
    color: #fbf1c7;
}

.portfoliob {
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}

.startmenu {
    width: 48px;
    border-right: #fbf1c7 solid 2px;
    border-left: #fbf1c7 solid 2px;
    display: flex;
}

.portimage {
    max-width: 1200px;
    max-height: 400px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
    border: #fbf1c7 solid 4px;
}

.startbtn {
    color: #fbf1c7;
    font-size: 24px;
    margin: auto;
}

.iconbar {
    flex: 2;
    border-right: #fbf1c7 solid 2px;
}

.folio {
    padding: 50px;
    display: flex;
    overflow: scroll;
    flex-direction: column;
}

.previewimg {
    width: 300px;
    height: fit-content;
}

.clock {
    flex: 0.1;
    border-right: #fbf1c7 solid 2px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    color: #fbf1c7;
}

#time {
    margin: auto;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
}

.commmenu {
    flex: 0.25;
    border-top: #fbf1c7 2px solid;
    font-size: 56px;
    text-align: center;
    display: flex;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #3c3836;
    border: #fbf1c7 solid 2px;
    border-radius: 10px;
}

.titlebar {
    border-bottom: #fbf1c7 2px solid;
    height: 5%;
    display: flex;
    flex-direction: row;
    cursor: move;
}

.windowbody {
    flex: 2;
    font-family: Space Mono;
    color: #fbf1c7;
    margin: 0;
}

.texto {
    padding: 0 30px 0 30px;
    margin: 0;
    display: block;
}

.texto h1 {
    margin: 0;
}
.texto p {
    margin: auto;
    margin-bottom: 2px;
}

.pfp {
    padding: 30px;
    padding-bottom: 10px;
}

.pfpimg {
    width: 200px;
    border: #fbf1c7 solid 5px;
    border-radius: 10px;
}

.social {
    flex: 0.3;
    border-top: #fbf1c7 2px solid;
    font-size: 56px;
    text-align: center;
    display: flex;
}

.socialIcon {
    margin: auto;
}

.title {
    flex: 1.5;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    display: flex;
    font-family: Space Mono;
}
.title p {
    margin: auto;
    align-self: center;
    color: #fbf1c7;
}

.buttons {
    flex: 0.2;
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.buttons p {
    margin: auto;
    border: #fbf1c7 solid 2px;
    border-radius: 7px;
    width: 20px;
    height: 20px;
    font-size: 2em;
    color: #fbf1c7;
    vertical-align: middle;
    text-align: center;
}

.titleicon {
    font-size: 0.5em;
    text-align: center;
    margin: auto 10px auto 10px;
    cursor: pointer;
}

.close p {
    background-color: #cc241b;
}
.close p:hover {
    background-color: #fb4934;
}
.close p:active {
    background-color: #928374;
}

.langtoggle {
    background-color: #fbf1c7;
    border: #fbf1c7 2px solid;
    border-radius: 5px;
    font-family: Space Mono;
    font-size: 12pt;
    margin: auto;
    margin-top: 15px;
    width: auto;

    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition:.25s;
}

.langtoggle:hover {
    background-color: #665c54;
    border-color: #665c54;
    color: #fbf1c7;
}
.langtoggle:active {
    background-color: #504945;
    border-color: #504945;
    color: #fbf1c7;
}